<!DOCTYPE html>
<html>
<head>
    <title>CookShare - Log In</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- component -->
    <div class="h-screen md:flex">
      <div class="bg-[url('img/food3.jpg')] bg-cover relative overflow-hidden md:flex w-1/2 justify-around items-center hidden"><div>
          <h1 class="text-gray-800 font-bold text-4xl mb-2 font-sans">CookShare</h1>
          <a href="/" class="inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Back To Home
          </a>
      </div>
    </div>
      
      <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
        <!-- SIGN UP FORM -->
        <form action="/login" method="post" class="bg-white">
          <% if (message.length > 0) { %>
            <div class="px-6 py-4 bg-yellow-50 rounded-lg text-yellow-600">
              <%= message %>
            </div>
            <% } %> 
          <h1 class="text-gray-800 font-bold text-2xl mb-1">Welcome Back!</h1>
          <p class="text-sm font-normal text-gray-600 mb-7">Sign back in.</p>

          <!-- EMAIL -->
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
            </svg>
            <input class="pl-2 outline-none border-none" type="email" name="email" id="email" placeholder="Email Address"/>
          </div>
          
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
            </svg>
            <input class="pl-2 outline-none border-none" type="password" name="password" id="password" placeholder="Password"/>
          </div>
          <button type="submit" class="block w-full bg-yellow-500 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Log In</button>
          <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Don't have an account? <a href="/signup">Sign Up</a></span>
        </form>
      </div>
    </div>
</body>
</html>